{% extends "pages/base.html" %}

{% block title%}Moje konto{% endblock %}
{% block content %}
    <div class="container">
        {% if vehicles %}
            <h3>Twoje pojazdy</h1>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nazwa</th>
                    <th>Numer rejestracji</th>
                    <th>Kod QR</th>
                  </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles %}
                    
                        <tr>
                            <td>{{ vehicle.name }}</td>
                            <td>{{ vehicle.plate_number }}</td>
                            <td><a href="/downloadqr/{{vehicle.badge.id}}" class="btn btn-info" role="button">Pobierz</a></td>
                        </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

